{% load static %}
<div class="page-header">

    <h1><a href="{% url 'issue_list' %}">Home</a></h1>
</div>

    <html>

        <body>

    <div style="text-align: center"> <a href="water">Water</a></div><br>
    <div style="text-align: center"> <a href="air">Air</a></div><br>
    <div style="text-align: center"> <a href="energy">Energy</a></div><br>
    <div style="text-align: center"> <a href="land">Land & Food</a></div><br>
    <div style="text-align: center"> <a href="forest">Forest</a></div><br>
    <div style="text-align: center"> <a href="wildlife">Wildlife</a></div><br>
    <div style="text-align: center"> <a href="waste">Waste</a></div><br>
    <div style="text-align: center"> <a href="water">My Campaigns</a></div><br>

    <p><a href="{% url 'logout' %}">logout</a></p>
                  <br>
        </body>
    </html>
