{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  Hi {{ user.username }}!
  <p><a href="{% url 'issue_list' %}">Continue</a></p>
  <p>Make this page fancy lol<p>
{% else %}
  <button type="button" onclick="window.location.href='accounts/signup/'" class="btn btn-outline-dark btn-lg">REGISTER</button>
  <button type="button" onclick="window.location.href='accounts/login'" class="btn btn-outline-dark btn-lg">LOGIN</button>
{% endif %}
{% endblock %}
